# Telegram credentials
TELEGRAM_API_ID=your_api_id_here
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_PHONE=+48123456789

# PostgreSQL credentials
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# pgAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# n8n credentials
N8N_BASIC_AUTH_USER=your_n8n_username
N8N_BASIC_AUTH_PASSWORD=your_n8n_password

BYBIT_API_KEY_TELEGRAM=x
BYBIT_API_SECRET_TELEGRAM=x

N8N_WEBHOOK_URL=http://n8n:5678/webhook/telegram
--------------------------------------------------------------------------------------------------------------
BYBIT_API_KEY_BITCOIN_NOTIFIER=x
BYBIT_API_SECRET_BITCOIN_NOTIFIER=x
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
BB_MULTIPLIER=2.2
ATR_THRESHOLD=2.0
VOLUME_THRESHOLD=3.0